@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500&display=swap');

$title-font: 'Pathway Extreme', sans-serif;

@font-face {
  font-family: 'Luckybones';
  src: url('../src/fonts/luckybones-bold-webfont.woff2') format('woff2'),
    url('../src/fonts/luckybones-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$LuckyBones-font: 'Luckybones';
