@import './colors.scss';
@import './_breakpoints.scss';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5em;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  position: relative;
  margin: 0;
  font-family: 'Pathway Extreme', sans-serif;
  background: $navajo-white;

  .section-beneficios {
    .beneficios-container {
      width: 100%;
      max-width: 1440px;
      margin: 0 auto;

      .beneficio-item-option {
        display: grid;
        grid-template-columns: repeat(2, 0.6fr);
        img {
          width: 150px;
        }

        .beneficio-item-option-content {
          h4 {
            font-size: 52px;
          }
          h5 {
            font-size: 20px;
            font-weight: bold;
          }
        }
      }
    }
  }
}
